@use "../../foundation/" as *;

.p-pricing {
  background: #181818;

  &__inner {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  &__title {
    color: #fff;
  }

  &__cards {
    margin-top: 70px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    max-width: 960px;
    margin-inline: auto;

    @include mq("sp") {
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
  }

  &__card {
    background: #212121;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    padding: 30px 24px;
    width: 100%;
    max-width: 300px;
    height: 450px;
    margin-inline: auto;
    color: #fff;

    &--pro {
      border: 1px solid rgba(16, 139, 200, 0.6);
      box-shadow: 0 0 20px 0px rgb(255 255 255 / 20%);
      background-image: linear-gradient(
        180deg,
        #212121 50%,
        rgba(16, 139, 200, 0.6)
      );
      position: relative;

      &::before {
        content: "一番人気";
        position: absolute;
        top: 30px;
        right: 24px;
        font-size: 12px;
        background: $accent-text-blue;
        padding: 5px 8px;
        border-radius: 8px;
      }
    }

    &-title {
      font-size: 30px;
      font-weight: 700;
    }

    &-price {
      font-size: 35px;
      font-weight: 700;
      position: relative;
      padding-left: 14px;

      &::before {
        content: "￥";
        position: absolute;
        top: 8px;
        left: 0;
        font-size: 15px;
        font-weight: 700;
        color: #9b9b9b;
      }

      &--color {
        font-size: 15px;
        font-weight: 700;
        color: #9b9b9b;
      }
    }

    &-texts {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 25px;
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }

    &-text {
      padding-left: 26px;
      font-size: 12px;
      font-weight: 700;
      position: relative;
      align-items: center;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
        background-image: url("#{$img-path}/check.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  &__button {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 32px;
    box-shadow: 0 0 10px 0px rgb(255 255 255 / 20%);
    background-image: linear-gradient(90deg, #00aaff, #006699 91%);
    width: 300px;
    padding: 13px;
    margin-inline: auto;
    display: block;
  }
}
