.section-title {
	font-size: 48px;
	font-weight: 600;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0; /* font-weight: normal; */
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding-top: 65px;
}

body.is-open {
	overflow: hidden;
}

.l-header {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.l-header__inner {
	align-items: center;
	background: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	padding: 10px 24px;
}

.l-header__logo {
	transition: opacity 0.3s ease;
}

.l-header__logo a {
	font-size: 24px;
	text-decoration: none;
}

.l-header__logo:hover {
	opacity: 0.5;
}

.l-header__nav {
	align-items: center;
	background: none;
	display: flex;
	gap: 100px;
	height: auto;
	padding: 0;
	right: 0;
	top: 56px;
	transform: none;
	transition: all 0.5s ease;
	visibility: visible;
	z-index: 99;
}

.l-header__nav.is-open {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}

.l-header__nav-button {
	align-items: center;
	display: flex;
	gap: 16px;
}

.l-header__list {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 36px;
	margin-bottom: 0;
}

.l-header__item a {
	color: #5f6368;
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 5px 8px;
	text-decoration: none;
	transition: opacity 0.3s ease;
}

.l-header__item a:hover {
	opacity: 0.5;
}

.l-header__drawer-icon {
	display: none;
}

.l-header__drawer-icon.is-open .l-header__drawer-line:nth-child(1) {
	top: 6px;
	transform: rotate(45deg);
}

.l-header__drawer-icon.is-open .l-header__drawer-line:nth-child(2) {
	opacity: 0;
}

.l-header__drawer-icon.is-open .l-header__drawer-line:nth-child(3) {
	top: 6px;
	transform: rotate(-45deg);
}

.l-header__drawer-line {
	background: #000000;
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease;
	width: 20px;
}

.l-header__drawer-line:nth-child(1) {
	top: 0;
}

.l-header__drawer-line:nth-child(2) {
	top: 6px;
}

.l-header__drawer-line:nth-child(3) {
	top: 12px;
}

.l-header__overlay {
	background: rgba(0, 0, 0, 0.65);
	display: none;
	height: 100vh;
	opacity: 0;
	transition: all 0.3s ease;
	width: 100%;
}

.l-header__overlay.is-open {
	display: block;
	opacity: 1;
}

.inner {
	margin-inline: auto;
	max-width: 1440px;
	padding-inline: 80px;
}

.o-br__tb {
	display: none;
}

.o-br__sp {
	display: none;
}

.c-button__download {
	background: #00aaff;
	border-radius: 28px;
	color: #fff;
	font-weight: 700;
	padding: 10px 47px 11px 18px;
	position: relative;
}

.c-button__download:hover {
	opacity: 0.8;
}

.c-button__download::before {
	background: #d1d1d1;
	content: "";
	height: 100%;
	position: absolute;
	right: 28px;
	top: 0;
	width: 1px;
}

.c-button__download::after {
	background-image: url("../img/arrow.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	display: block;
	height: 10px;
	position: absolute;
	right: 9px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

.c-button__login {
	color: #00aaff;
	font-size: 14px;
}

.c-button__login:hover {
	opacity: 0.8;
}

.p-hero__inner {
	padding-top: 88px;
}

.p-hero__contents {
	align-items: center;
	display: grid;
	gap: 60px;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	margin-inline: auto;
	max-width: 1094px;
}

.p-hero__content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: -moz-fit-content;
	height: fit-content;
	margin-inline: auto;
	width: 500px;
}

.p-hero__SitTitle {
	color: #222;
	font-size: 24px;
	font-weight: 700;
}

.p-hero__title {
	font-size: 40px;
	font-weight: 700;
}

.p-hero__subtitle {
	color: #5f6368;
	font-weight: 700;
}

.p-hero__app {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.p-hero__review {
	align-items: center;
	border: 1px solid rgba(37, 34, 30, 0.2);
	border-radius: 8px;
	color: rgba(37, 34, 30, 0.65);
	display: flex;
	font-size: 14.5px;
	font-weight: 700;
	padding: 9px 16px 9px 3px;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__review-Apple {
	align-items: center;
	display: flex;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__review-Apple::before {
	background: rgba(37, 34, 30, 0.2);
	content: "";
	height: 42px;
	position: absolute;
	right: -2px;
	top: -9px;
	width: 1px;
}

.p-hero__review-Android {
	align-items: center;
	display: flex;
	padding-left: 4px;
	padding-right: 24px;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__review-Android::before {
	background: rgba(37, 34, 30, 0.2);
	content: "";
	height: 42px;
	position: absolute;
	right: 22px;
	top: -9px;
	width: 1px;
}

.p-hero__button {
	align-items: center;
	display: flex;
	gap: 16px;
}

.p-hero__image {
	margin-inline: auto;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__image img {
	height: -moz-fit-content;
	height: fit-content;
	max-width: 532px;
	width: 100%;
}

@media (max-width: 1024px) {

.inner {
	padding-inline: 40px;
}

.o-br__pc {
	display: none;
}

.o-br__tb {
	display: block;
}

.p-hero__content {
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__app {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.p-hero__image img {
	max-width: 600px;
}

}

@media (max-width: 1000px) {

.l-header__nav {
	gap: 25px;
}

}

@media (max-width: 900px) {

.l-header__nav {
	background: #ffffff;
	flex-direction: column;
	gap: 30px;
	height: calc(100vh - 60px);
	opacity: 0;
	padding: 40px 20px;
	position: fixed;
	transform: translateX(100%);
	visibility: hidden;
	width: 80%;
}

.l-header__nav-button {
	flex-direction: column;
}

.l-header__list {
	flex-direction: column;
	width: 100%;
}

.l-header__drawer-icon {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 14px;
	position: relative;
	width: 20px;
}

}

@media (max-width: 768px) {

.l-header__drawer-icon {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 14px;
	position: relative;
	width: 20px;
}

.l-header__overlay {
	display: none;
}

.inner {
	padding-inline: 16px;
}

.o-br__tb {
	display: none;
}

.o-br__sp {
	display: block;
}

.p-hero__contents {
	display: flex;
	flex-direction: column;
}

.p-hero__title {
	font-size: 36px;
}

.p-hero__subtitle {
	font-size: 14px;
}

.p-hero__review {
	font-size: 13px;
}

.p-hero__review-Android {
	padding-right: 22px;
}

.p-hero__image img {
	max-width: 343px;
}

}

@media (max-width: 374px) {

.p-hero__SitTitle {
	font-size: 20px;
}

.p-hero__title {
	font-size: 30px;
}

.p-hero__subtitle {
	font-size: 12px;
}

.p-hero__app {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.p-hero__review {
	font-size: 12px;
	padding: 5px 13px 5px 3px;
}

.p-hero__review-Apple::before {
	height: 34px;
	top: -5px;
}

.p-hero__review-Android {
	padding-right: 18px;
}

.p-hero__review-Android::before {
	height: 34px;
	right: 17px;
	top: -5px;
}

}

