*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0; /* font-weight: normal; */
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #000;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 700;
	padding-top: 65px;
}

body.is-open {
	overflow: hidden;
}

.l-header {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.l-header__inner {
	align-items: center;
	background: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-between;
	padding: 10px 24px;
}

.l-header__logo {
	transition: opacity 0.3s ease;
}

.l-header__logo a {
	font-size: 24px;
	text-decoration: none;
}

.l-header__logo:hover {
	opacity: 0.5;
}

.l-header__nav {
	align-items: center;
	background: none;
	display: flex;
	gap: 100px;
	height: auto;
	padding: 0;
	right: 0;
	top: 56px;
	transform: none;
	transition: all 0.5s ease;
	visibility: visible;
	z-index: 99;
}

.l-header__nav.is-open {
	opacity: 1;
	transform: translateX(0);
	visibility: visible;
}

.l-header__nav-button {
	align-items: center;
	display: flex;
	gap: 16px;
}

.l-header__list {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 36px;
	margin-bottom: 0;
}

.l-header__item a {
	color: #5f6368;
	display: block;
	font-size: 14px;
	font-weight: 500;
	padding: 5px 8px;
	text-decoration: none;
	transition: opacity 0.3s ease;
}

.l-header__item a:hover {
	opacity: 0.5;
}

.l-header__drawer-icon {
	display: none;
}

.l-header__drawer-icon.is-open .l-header__drawer-line:nth-child(1) {
	top: 6px;
	transform: rotate(45deg);
}

.l-header__drawer-icon.is-open .l-header__drawer-line:nth-child(2) {
	opacity: 0;
}

.l-header__drawer-icon.is-open .l-header__drawer-line:nth-child(3) {
	top: 6px;
	transform: rotate(-45deg);
}

.l-header__drawer-line {
	background: #000000;
	display: block;
	height: 2px;
	left: 0;
	position: absolute;
	transition: all 0.3s ease;
	width: 20px;
}

.l-header__drawer-line:nth-child(1) {
	top: 0;
}

.l-header__drawer-line:nth-child(2) {
	top: 6px;
}

.l-header__drawer-line:nth-child(3) {
	top: 12px;
}

.l-header__overlay {
	background: rgba(0, 0, 0, 0.65);
	display: none;
	height: 100vh;
	opacity: 0;
	transition: all 0.3s ease;
	width: 100%;
}

.l-header__overlay.is-open {
	display: block;
	opacity: 1;
}

.inner {
	margin-inline: auto;
	max-width: 1440px;
	padding-inline: 80px;
}

.o-br__tb {
	display: none;
}

.o-br__sp {
	display: none;
}

.o-accent-color {
	color: #108bc8;
}

.c-button__download {
	background: #00aaff;
	border-radius: 28px;
	color: #fff;
	font-weight: 700;
	padding: 10px 47px 11px 18px;
	position: relative;
}

.c-button__download:hover {
	opacity: 0.8;
}

.c-button__download::before {
	background: #d1d1d1;
	content: "";
	height: 100%;
	position: absolute;
	right: 28px;
	top: 0;
	width: 1px;
}

.c-button__download::after {
	background-image: url("../img/arrow.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	display: block;
	height: 10px;
	position: absolute;
	right: 9px;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

.c-button__login {
	color: #00aaff;
	font-size: 14px;
}

.c-button__login:hover {
	opacity: 0.8;
}

.c-section__title {
	font-size: 48px;
	font-weight: 600;
	text-align: center;
}

.p-hero__inner {
	padding-bottom: 84px;
	padding-top: 88px;
}

.p-hero__contents {
	align-items: center;
	display: grid;
	gap: 60px;
	grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	margin-inline: auto;
	max-width: 1094px;
}

.p-hero__content {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: -moz-fit-content;
	height: fit-content;
	margin-inline: auto;
	width: 500px;
}

.p-hero__SitTitle {
	color: #00aaff;
	font-size: 24px;
	font-weight: 700;
}

.p-hero__title {
	font-size: 40px;
	font-weight: 700;
}

.p-hero__subtitle {
	color: #5f6368;
	font-weight: 700;
}

.p-hero__app {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.p-hero__review {
	align-items: center;
	border: 1px solid rgba(37, 34, 30, 0.2);
	border-radius: 8px;
	color: rgba(37, 34, 30, 0.65);
	display: flex;
	font-size: 14.5px;
	font-weight: 700;
	padding: 9px 16px 9px 3px;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__review-Apple {
	align-items: center;
	display: flex;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__review-Apple::before {
	background: rgba(37, 34, 30, 0.2);
	content: "";
	height: 42px;
	position: absolute;
	right: -2px;
	top: -9px;
	width: 1px;
}

.p-hero__review-Android {
	align-items: center;
	display: flex;
	padding-left: 4px;
	padding-right: 24px;
	position: relative;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__review-Android::before {
	background: rgba(37, 34, 30, 0.2);
	content: "";
	height: 42px;
	position: absolute;
	right: 22px;
	top: -9px;
	width: 1px;
}

.p-hero__button {
	align-items: center;
	display: flex;
	gap: 16px;
}

.p-hero__image {
	margin-inline: auto;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__image img {
	height: -moz-fit-content;
	height: fit-content;
	max-width: 532px;
	width: 100%;
}

.p-worries {
	background: #fafafa;
}

.p-worries__inner {
	padding-bottom: 113px;
	padding-top: 69px;
}

.p-worries__title {
	margin-bottom: 52px;
}

.p-worries__items {
	display: grid;
	gap: 37px;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	margin-inline: auto;
	max-width: 824px;
}

.p-worries__item {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.35);
	border-radius: 50%;
	height: 250px;
	margin-inline: auto;
	padding: 58px 16px 80px;
	text-align: center;
	width: 250px;
}

.p-worries__item-ravel {
	background: #545c6b;
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 24px;
	margin-inline: auto;
	max-width: 75px;
	padding: 5px 16px;
}

.p-worries__item-title {
	font-weight: 700;
	margin-bottom: 8px;
}

.p-worries__item-text {
	font-size: 14px;
}

.p-features__inner {
	padding-top: 106px;
}

.p-features__items {
	display: flex;
	flex-direction: column;
	gap: 80px;
	margin-inline: auto;
	margin-top: 192px;
	max-width: 1440px;
	padding-bottom: 180px;
}

.p-features__item {
	background: #fafafa;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0px 32px 32px 0px;
	display: flex;
	margin-right: auto;
	overflow: hidden;
	padding: 70px 390px 70px 91px;
	position: relative;
}

.p-features__item::after,
.p-features__item::before {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	position: absolute;
}

.p-features__item:nth-child(1)::after {
	background-image: url("../img/feature-image-01.png");
	bottom: -4px;
	display: block;
	height: 333px;
	right: -4px;
	width: 350px;
}

.p-features__item:nth-child(2)::before {
	background-image: url("../img/feature-image-02.png");
	bottom: -4px;
	display: block;
	height: 333px;
	left: -14px;
	width: 350px;
}

.p-features__item:nth-child(3)::after {
	background-image: url("../img/feature-image-03.png");
	bottom: -4px;
	display: block;
	height: 333px;
	right: -4px;
	width: 350px;
}

.p-features__item:nth-child(4)::before {
	background-image: url("../img/feature-image-04.png");
	bottom: -4px;
	display: block;
	height: 333px;
	left: -14px;
	width: 350px;
}

.p-features__item:nth-child(2),
.p-features__item:nth-child(4) {
	border-radius: 32px 0px 0px 32px;
	margin-left: auto;
	margin-right: 0;
	padding: 70px 91px 70px 390px;
}

.p-features__item-content {
	max-width: 630px;
}

.p-features__item-head {
	align-items: center;
	display: flex;
	gap: 35px;
	margin-bottom: 25px;
}

.p-features__item-function {
	font-size: 20px;
}

.p-features__item-number {
	color: #108bc8;
	font-family: Caudex, serif;
	font-size: 48px;
	font-weight: 400;
}

.p-features__item-ravel {
	border: 1px solid #108bc8;
	border-radius: 5px;
	color: #108bc8;
	font-size: 25px;
	font-weight: 700;
	height: -moz-fit-content;
	height: fit-content;
	padding: 5px 10px;
}

.p-features__item-title {
	border-bottom: 1px solid #222;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1%;
	line-height: 40px;
	padding-bottom: 5px;
}

.p-features__item-title--font-size {
	color: #108bc8;
	font-size: 46px;
	line-height: 60px;
}

.p-features__item-text {
	font-size: 19px;
	font-weight: 700;
	letter-spacing: 3%;
	line-height: 27px;
	padding-top: 16px;
}

.p-usage {
	background: #fafafa;
}

.p-usage__inner {
	padding-bottom: 200px;
	padding-top: 100px;
}

.p-usage__cards {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 120px;
}

.p-usage__card {
	display: grid;
	gap: 100px;
	grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

.p-usage__card-title {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 16px;
}

.p-usage__card-subtitle {
	color: rgba(0, 0, 0, 0.75);
	font-size: 18px;
	font-weight: 700;
}

.p-usage__head {
	color: #108bc8;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}

.p-usage__video {
	align-items: center;
	display: flex;
	height: auto;
	justify-content: center;
	margin: 0 auto;
	max-width: 350px;
	width: 100%;
}

.p-usage__video video {
	aspect-ratio: 1/1;
	border-radius: 16px;
	display: block;
	height: auto;
	width: 100%;
}

/* PCのみに適用 */

.p-pricing {
	background: #181818;
}

.p-pricing__inner {
	padding-bottom: 100px;
	padding-top: 60px;
}

.p-pricing__title {
	color: #fff;
}

.p-pricing__cards {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-bottom: 60px;
	margin-inline: auto;
	margin-top: 70px;
	max-width: 960px;
}

.p-pricing__card {
	background: #212121;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 16px;
	color: #fff;
	height: 450px;
	margin-inline: auto;
	max-width: 300px;
	padding: 30px 24px;
	width: 100%;
}

.p-pricing__card--pro {
	background-image: linear-gradient(180deg, #212121 50%, rgba(16, 139, 200, 0.6));
	border: 1px solid rgba(16, 139, 200, 0.6);
	box-shadow: 0 0 20px 0px rgba(255, 255, 255, 0.2);
	position: relative;
}

.p-pricing__card--pro::before {
	background: #108bc8;
	border-radius: 8px;
	content: "一番人気";
	font-size: 12px;
	padding: 5px 8px;
	position: absolute;
	right: 24px;
	top: 30px;
}

.p-pricing__card-title {
	font-size: 30px;
	font-weight: 700;
}

.p-pricing__card-price {
	font-size: 35px;
	font-weight: 700;
	padding-left: 14px;
	position: relative;
}

.p-pricing__card-price::before {
	color: #9b9b9b;
	content: "￥";
	font-size: 15px;
	font-weight: 700;
	left: 0;
	position: absolute;
	top: 8px;
}

.p-pricing__card-price--color {
	color: #9b9b9b;
	font-size: 15px;
	font-weight: 700;
}

.p-pricing__card-texts {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	flex-direction: column;
	gap: 18px;
	margin-top: 24px;
	padding-top: 25px;
}

.p-pricing__card-text {
	align-items: center;
	font-size: 12px;
	font-weight: 700;
	padding-left: 26px;
	position: relative;
}

.p-pricing__card-text::before {
	background-image: url("../img/check.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	content: "";
	height: 16px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
}

.p-pricing__button {
	background-image: linear-gradient(90deg, #00aaff, #006699 91%);
	border-radius: 32px;
	box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
	color: #fff;
	display: block;
	font-size: 20px;
	font-weight: 700;
	margin-inline: auto;
	padding: 13px;
	width: 300px;
}

.p-faq__inner {
	padding-bottom: 100px;
	padding-top: 100px;
}

.p-faq__items {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-inline: auto;
	margin-top: 60px;
	max-width: 850px;
}

.p-faq__item {
	background: #fcfcfc;
	border-radius: 18px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	cursor: pointer;
	padding: 18px 24px;
	position: relative;
}

.p-faq__item.is-open::before,
.p-faq__item.is-open::after {
	background: #00cfa5;
	content: "";
	transform: rotate(-45deg);
}

.p-faq__item::after,
.p-faq__item::before {
	background: #444;
	position: absolute;
	transition: all 0.3s ease;
}

.p-faq__item::after {
	content: "";
	height: 30px;
	right: 38px;
	top: 20px;
	width: 2px;
}

.p-faq__item::before {
	content: "";
	height: 2px;
	right: 24px;
	top: 34px;
	width: 30px;
}

.p-faq__item-Q {
	align-items: center;
	display: flex;
	gap: 10px;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}

.p-faq__item-Q::before {
	color: #108bc8;
	content: "Q.";
	font-family: "Lato", sans-serif;
	font-size: 28px;
	font-weight: 700;
}

.p-faq__item-A {
	align-items: end;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	display: none;
	gap: 10px;
	margin-top: 13px;
	padding-top: 19px;
}

.p-faq__item-A::before {
	color: #00cfa5;
	content: "A.";
	font-family: "Lato", sans-serif;
	font-size: 28px;
	font-weight: 700;
}

@media screen and (min-width: 768px) {

.p-usage__video {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 0.8s ease, transform 0.8s ease;
	will-change: opacity, transform;
}

.p-usage__video.is-show {
	opacity: 1;
	transform: translateY(0);
}

}

@media (max-width: 1107px) {

.p-features__item-title {
	font-size: 25px;
}

.p-features__item-title--font-size {
	font-size: 38px;
	line-height: 50px;
}

}

@media (max-width: 1024px) {

.inner {
	padding-inline: 40px;
}

.o-br__pc {
	display: none;
}

.o-br__tb {
	display: block;
}

.p-hero__content {
	text-align: center;
	width: -moz-fit-content;
	width: fit-content;
}

.p-hero__app {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}

.p-hero__image img {
	max-width: 600px;
}

.p-features__items {
	margin-top: 160px;
	padding-bottom: 170px;
}

.p-features__item {
	flex-direction: column;
	margin-right: 16px;
	padding: 30px 30px 390px 30px;
}

.p-features__item:nth-child(1)::after {
	bottom: -3px;
	right: -3px;
}

.p-features__item:nth-child(2)::before {
	bottom: -3px;
	left: -11px;
}

.p-features__item:nth-child(3)::after {
	bottom: -3px;
	right: -3px;
}

.p-features__item:nth-child(4)::before {
	bottom: -3px;
	left: -11px;
}

.p-features__item:nth-child(2),
.p-features__item:nth-child(4) {
	margin-left: 16px;
	padding: 30px 30px 390px 30px;
}

.p-features__item-ravel {
	font-size: 16px;
}

.p-features__item-title {
	font-size: 19px;
}

.p-features__item-title--font-size {
	font-size: 30px;
	line-height: 35px;
}

.p-features__item-text {
	font-size: 16px;
	line-height: 24px;
}

.p-usage__card {
	gap: 60px;
}

.p-usage__video video {
	width: 100%;
}

}

@media (max-width: 1000px) {

.l-header__nav {
	gap: 25px;
}

}

@media (max-width: 900px) {

.l-header__nav {
	background: #ffffff;
	flex-direction: column;
	gap: 30px;
	height: calc(100vh - 60px);
	opacity: 0;
	padding: 40px 20px;
	position: fixed;
	transform: translateX(100%);
	visibility: hidden;
	width: 80%;
}

.l-header__nav-button {
	flex-direction: column;
}

.l-header__list {
	flex-direction: column;
	width: 100%;
}

.l-header__drawer-icon {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 14px;
	position: relative;
	width: 20px;
}

}

@media (max-width: 768px) {

.l-header__drawer-icon {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: 14px;
	position: relative;
	width: 20px;
}

.l-header__overlay {
	display: none;
}

.inner {
	padding-inline: 16px;
}

.o-br__tb {
	display: none;
}

.o-br__sp {
	display: block;
}

.c-section__title {
	font-size: 40px;
}

.p-hero__contents {
	display: flex;
	flex-direction: column;
}

.p-hero__title {
	font-size: 36px;
}

.p-hero__subtitle {
	font-size: 14px;
}

.p-hero__review {
	font-size: 13px;
}

.p-hero__review-Android {
	padding-right: 22px;
}

.p-hero__image img {
	max-width: 343px;
}

.p-features__items {
	margin-top: 145px;
	padding-bottom: 160px;
}

.p-features__item-head {
	align-items: flex-start;
	flex-direction: column;
	gap: 0px;
}

.p-features__item-title {
	font-size: 16px;
	line-height: 20px;
}

.p-features__item-title--font-size {
	font-size: 20px;
	line-height: 25px;
}

.p-features__item-text {
	font-size: 12px;
	line-height: 20px;
}

.p-usage__card {
	display: flex;
	flex-direction: column;
}

.p-usage__card-title {
	font-size: 27px;
}

.p-usage__card-subtitle {
	font-size: 15px;
}

.p-usage__head {
	font-size: 18px;
}

.p-usage__video {
	max-width: 280px;
}

.p-pricing__cards {
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

}

@media (max-width: 374px) {

.c-section__title {
	font-size: 32px;
}

.p-hero__SitTitle {
	font-size: 20px;
}

.p-hero__title {
	font-size: 30px;
}

.p-hero__subtitle {
	font-size: 12px;
}

.p-hero__app {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.p-hero__review {
	font-size: 12px;
	padding: 5px 13px 5px 3px;
}

.p-hero__review-Apple::before {
	height: 34px;
	top: -5px;
}

.p-hero__review-Android {
	padding-right: 18px;
}

.p-hero__review-Android::before {
	height: 34px;
	right: 17px;
	top: -5px;
}

}

