@use "../../foundation/" as *;

.c-button__download {
  color: #fff;
  font-weight: 700;
  background: $accent-blue;
  padding: 10px 47px 11px 18px;
  border-radius: 28px;
  position: relative;

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 28px;
    height: 100%;
    width: 1px;
    background: #d1d1d1;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    right: 9px;
    width: 10px;
    height: 10px;
    background-image: url("#{$img-path}/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
